@model ShoppingCart
@{
	ViewData["Title"] = "Thông Tin Giỏ Hàng";
}
<div style="width:90%;margin:auto" class="mt-2">
	@if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
	{
		<h3>Giỏ hàng</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tên sách</th>
					<th>Ảnh bìa</th>
					<th>Thể loại</th>
					<th>Số lượng</th>
					@* <th>Số lượng</th> *@
					<th>Tổng tiền</th>
					<th>Thao tác</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.CartDetails)
				{
					<tr>
						<td>@item.Book.BookName</td>
						<td>
							@if (string.IsNullOrEmpty(item.Book.Image)){
								<img src="/image/no_image.jpg" style="width:80px;height:100px" />
							}else{
								<img src="/image/@item.Book.Image" style="width:80px;height:100px" />
							}
						</td>
						<td>@item.Book.Genre.GenreName</td>
						<td>@item.Book.Price X @item.Quantity</td>
						<td>@(item.Book.Price*@item.Quantity)</td>
						<td>
							<a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&&redirect=1">+</a> 
							<a class="btn btn-info" href="/Cart/RemoveItem?bookId=@item.BookId&&redirect=1">-</a> 
						</td>
					</tr>
				}
			</tbody>
		</table>
		<div class="my-2">
			<h5>Tổng tiền: </h5> @(Model.CartDetails.Select(item => item.Book.Price * item.Quantity).Sum()) VND
		</div>
		<div class="my-2">
			<a href="#" class="btn btn-primary">Thanh toán</a>
		</div>
	}
	else
	{
		<h3>Giỏ hàng trống</h3>
		<p>Không có sản phẩm nào trong giỏ hàng của bạn.</p>
		<a href="/" class="btn btn-primary">Quay về trang chủ</a>
	}
</div>

